:root {
  --large-breakpoint: 64em;
  --medium-breakpoint: 42em;

  --header-heading-color: #212121;
  --header-bg-color: #fafafa;
  --header-bg-color-secondary: #fafafa;

  --section-headings-color: #212121;
  --body-text-color: #424242;
  --body-link-color: #424242;
  --blockquote-text-color: #424242;

  --code-bg-color: #fafafa;
  --code-text-color: #424242;

  --border-color: #f5f5f5;
  --table-border-color: #f5f5f5;
  --hr-border-color: #f5f5f5;


  --box-shadow-color: #f5f5f5;
  --background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --large-breakpoint: 64em;
    --medium-breakpoint: 42em;

    --header-heading-color: #f5f5f5;
    --header-bg-color: #212121;
    --header-bg-color-secondary: #212121;

    --section-headings-color: #f5f5f5;
    --body-text-color: #eee;
    --body-link-color: #eee;
    --blockquote-text-color: #eee;

    --code-bg-color: #212121;
    --code-text-color: #eee;

    --border-color: #424242;
    --table-border-color: #424242;
    --hr-border-color: #424242;


    --box-shadow-color: #121212;
    --background-color: #1b1b1b;
  }
}
