<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>{{ page.title | default: site.title }} | {{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"></link>

    <link rel="me" href="https://fosstodon.org/@schmiddionmobile"></link>
  </head>
  <body>
    <header class="navigation">
      <a href="/">Home</a>
      <a href="/flare">Flare</a>
      <a href="/pipeline">Pipeline</a>
      <a href="/railway" style="padding-right: 30px;">Railway</a>
    </header>

    <header class="page-header">
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
    </header>

    <main id="content" class="main-content">
      {% include anchor_headings.html html=content anchorBody="#" %}
    </main>

    <footer class="site-footer">
      <p>This work is licensed under Attribution-ShareAlike 4.0 International and its <a href="https://gitlab.com/schmiddi-on-mobile/schmiddi-on-mobile.gitlab.io">source code</a> under the GNU General Public License v3.0.</p>
    </footer>
  </body>
</html>
